.catalog__inner-title {
  margin-bottom: 40px;
  margin-top: 30px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 27px 28px 95px;
  }

  @media (min-width: @desktop-width) {
    margin: 67px auto 90px;
    width: 1220px;
  }
}

.catalog {
  padding-top: 29px;

  @media (min-width: @tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 120px;
    padding-top: 68px;
  }
}
