
.footer__sitelink {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 128px;
    padding: 5px 0;
  }
}

.footer-sitelink {
  display: block;
  padding: 37px 37px 16px 37px;
  text-align: center;
  cursor: pointer;
}

.footer__socials-list {
  padding: 6px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    transform: translate(19px, 0);
  }
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 21px;
  line-height: 20px;
  text-decoration: none;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    padding: 53px 28px 90px 32px;
    justify-content: space-between;
    background-color: #f2f2f2;

    @media (min-width: @tablet-width) {
      padding-top: 59px;
    }
  }

  .footer-sitelink,
  .footer__socials-list,
  .footer-contact {
    padding: 0;
    margin: 0;
  }

  .footer-site {
    width: auto;
    margin-right: 28px;
  }
}

.footer__wrapper {
  @media (min-width: @desktop-width) {
    padding: 74px 110px;
    width: 1440px;
    margin: -20px 121px 0 121px;
  }
}

.academy-icon {
  fill:tomato;
}

.academy-icon:hover,
.academy-icon:focus {
  fill: #68b738;
}

.academy-icon:focus > .footer-site {
  color: #68b738;
}

.academy-icon:active svg {
  fill: #68b738;
  opacity: 0.3;
}

.academy-icon:active > .footer-site {
  opacity: 0.3;
}


.footer-socials__link {
  &:hover,
  &:focus {
    outline: none;
  }

  &:hover::before,
  &:focus::before,
  &:focus-visible::before {
    background-color: #68b738;
  }

  &:active::before {
    background-color: #68b738;
    opacity: 0.3;
  }
}
