.index-header {
  background-color: @basic-white;
}

.index-header__container {
  width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-image: url("../images/logos/header-text.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 33px 0;
}

@media (min-width: @tablet-width) {
  .header {
    background: none;
    padding: 16px 30px 28px 287px;
  }

  .services-list {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .header {
    padding: 0;
  }

}
