
.hero {
  position: relative;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-bottom: 297px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    width: 1440px;
    padding-bottom: 38px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 167px;
    left: 0;
    width: 100%;
    height: 270px;
    background-image: url("../images/photos/index-can-mobile.png");
    background-repeat: no-repeat;
    z-index: 2;
    background-position: center center;
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      top: 231px;
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/photos/index-can-tablet.png");
      z-index: -1;

      // @media (min-resolution: 2dppx) {
      //   background-image: url("../images/photos/index-can-tablet@2x.png");
      // }
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      width: 50%;
      height: calc(100% + 115px);
      position: absolute;
      right: 0;
      top: -118px;
      background: url("../images/photos/green-cat-desktop-width.jpg") no-repeat left top;
      z-index: -2;
    }

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      top: -33px;
      left: 58%;
      transform: translateX(-50%);
      background-image: url("../images/photos/index-can-desktop.png");
      z-index: -1;


      // @media (min-resolution: 2dppx) {
      //   background-image: url("../images/photos/index-can-desktop@2x.png");
      // }
    }
  }
}

.hero__container {
  padding: 0 0 135px 0;

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 74px 795px 0 0;
  }
}

.hero__btn {
  display: block;
  text-decoration: none;
  padding: 8px 8px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0%;
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 16px;
    width: 244px;
    text-align: center;
    margin: 0;
    height: 53px;
    position: relative;
    bottom: 230px;
    margin-left: 119px;
  }
}

.hero__wrapper {
  position: relative;
  padding: 0 0 140px 0;
}

.hero__wrapper::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/photos/green_cat.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  background-color: #63a63c;
  width: 100%;
  height: 100%;
  z-index: -1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.hero__title {
  margin: 0;
  font-family: "Oswald Regular", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 27px 104px 40px 119px;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 36px 38px 189px;
  }
}

.hero__text {
  margin: 24px 0 25px 0;
  font-family: "Oswald Regular", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    min-height: 26px;
    padding-left: 120px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
  }
}

